allow init debugfs:file write;
allow init sdcardd_exec:file getattr;
allow init tmpfs:lnk_file create;
allow init logd:dir getattr;
allow init tmpfs:lnk_file create_file_perms;
allow init userdata_block_device:blk_file rw_file_perms;
allow init cache_block_device:blk_file rw_file_perms;
allow init camera_data_file:file getattr;
